@using PCSetupHub.Web.ViewModels

@model SearchResultsViewModel
@{
	<link rel="stylesheet" href="~/css/modal.css" />

	int resultsCount = Model.Components.Count;
}

@if (resultsCount == 0)
{
	<div class="search-result-count">
		No results found
	</div>
}
else if (resultsCount == 1)
{
	<div class="search-result-count">
		Found 1 result
	</div>
}
else
{
	<div class="search-result-count">
		Found @resultsCount results
	</div>
}

<table class="table-responsive w-100 search-components-table">
	@for (int i = 0; i < Model.Components.Count; i++)
	{
		<tr>
			<td class="p-2"><span class="user-select-none">@(i + 1)</span></td>
			<td class="p-2">
				<span id=@($"openModal-{Model.Components[i].GetType().Name}-{Model.Components[i].Id}") class="pc-component-name" translate="no">
					@Model.Components[i].DisplayName
				</span>
				@await Html.PartialAsync("PcComponents/_ComponentModalPartial", Model.Components[i])
			</td>
			<td>
				<form asp-controller="@Model.ControllerName" asp-action="Select" asp-route-pcConfigurationId="@Model.PcConfigurationId" asp-route-componentId="@Model.Components[i].Id" method="post">
					@if (Model.Components[i].Id != Model.CurrentComponentId)
					{
						<button class="select-component-button" type="submit">Select</button>
					}
					else
					{
						<button class="select-component-button" type="submit" disabled>Selected</button>
					}
				</form>
			</td>
		</tr>
	}
</table>