@using PCSetupHub.Data.Models.Hardware
@using PCSetupHub.Web.ViewModels

@model PcComponentFormViewModel<VideoCard>

@{
	<link rel="stylesheet" href="~/css/form.css" />

	string actionName = Model.Mode switch
	{
		FormMode.Create => "Create",
		FormMode.Edit => "Edit",
		_ => throw new InvalidOperationException("Unsupported form mode")
	};

	int? componentId = null;
	if (Model.Mode == FormMode.Edit)
		componentId = Model.Component?.Id;

	var selectedColorIds = Model.Component?.ColorVideoCards?
		.Select(cvc => cvc.ColorId)
		.ToList() ?? new List<int>();

	if (ViewData["SelectedColorsId"] is IEnumerable<int> additionalIds)
		selectedColorIds.AddRange(additionalIds);
}

@if (Model.Component != null)
{
	<form asp-action="@actionName" asp-route-componentId="@componentId" method="post" class="w-100 d-flex flex-column justify-content-center align-items-center">
		<div class="form__group field">
			<input type="text" class="form__field" placeholder="Name" asp-for="Component.Name" required autocomplete="off">
			<label for="Name" class="form__label">Name</label>
		</div>

		<div class="form__group field">
			<input type="number" class="form__field" placeholder="Price" asp-for="Component.Price" min="0.01" step="0.01">
			<label for="Price" class="form__label">Price ($)</label>
		</div>

		<div class="form__group field">
			<input type="text" class="form__field" placeholder="Chipset" asp-for="Component.Chipset" required>
			<label for="Chipset" class="form__label">Chipset</label>
		</div>

		<div class="form__group field">
			<input type="number" class="form__field" placeholder="Memory" asp-for="Component.Memory" min="0.1" step="0.1" required value="@(Model.Component.Memory == default ? "" : Model.Component.Memory.ToString(System.Globalization.CultureInfo.InvariantCulture))" />
			<label for="Memory" class="form__label">Memory (GB)</label>
		</div>

		<div class="form__group field">
			<input type="number" class="form__field" placeholder="CoreClock" asp-for="Component.CoreClock" min="100" value="@(Model.Component.CoreClock == default ? "" : Model.Component.CoreClock.ToString())" />
			<label for="CoreClock" class="form__label">Core clock (MHz)</label>
		</div>

		<div class="form__group field">
			<input type="number" class="form__field" placeholder="BoostClock" asp-for="Component.BoostClock" min="700" value="@(Model.Component.BoostClock == default ? "" : Model.Component.BoostClock.ToString())" />
			<label for="BoostClock" class="form__label">Boost clock (MHz)</label>
		</div>

		<div class="form__group field">
			<input type="number" class="form__field" placeholder="Length" asp-for="Component.Length" min="60" value="@(Model.Component.Length == default ? "" : Model.Component.Length.ToString())" />
			<label for="Length" class="form__label">Length (mm)</label>
		</div>

		@await Html.PartialAsync("PcComponents/Forms/_ColorForm", selectedColorIds)

		@await Html.PartialAsync("PcComponents/Forms/_FormSubmitSection", Model.Mode)
	</form>
}