@using PCSetupHub.Web.ViewModels

@model ContactsViewModel
@{
	<link rel="stylesheet" href="~/css/contact.css" />
}

<ul class="nav contacts-tabs-container">
	<li class="contacts-tab-item">
		<a class="contacts-nav-link @(Model.ActionName == "Friends" ? "active" : "")" asp-controller="Contacts" asp-action="Friends" asp-route-login="@Model.Login" asp-route-friendSearchQuery="@Model.SearchQuery">Friends</a>
	</li>
	<li class="contacts-tab-item">
		<a class="contacts-nav-link @(Model.ActionName == "Followers" ? "active" : "")" asp-controller="Contacts" asp-action="Followers" asp-route-login="@Model.Login" asp-route-followerSearchQuery="@Model.SearchQuery">Followers</a>
	</li>
	<li class="contacts-tab-item">
		<a class="contacts-nav-link @(Model.ActionName == "Followings" ? "active" : "")" asp-controller="Contacts" asp-action="Followings" asp-route-login="@Model.Login" asp-route-followingSearchQuery="@Model.SearchQuery">Followings</a>
	</li>
</ul>