@using System.Globalization

@using PCSetupHub.Data.Models.Users


@model Message[]

@{
    ViewData["Title"] = "Messages";

    <link rel="stylesheet" href="~/css/message.css" asp-append-version="true" />

    int? userId = User.GetId();
}

<div id="chatList" data-user-id="@userId">
    @if (Model.Length > 0)
    {
        @foreach (Message message in Model)
        {
            string displayCreatedAt = string.Empty;
            if (DateTime.UtcNow.Day == message.CreatedAt.Day)
            {
                displayCreatedAt = message.CreatedAt.ToLocalTime().ToString("'Today at' HH:mm", new CultureInfo("en-US"));
            }
            else if (DateTime.UtcNow.Year == message.CreatedAt.Year)
            {
                displayCreatedAt = message.CreatedAt.ToLocalTime().ToString("d MMMM 'at' HH:mm", new CultureInfo("en-US"));
            }
            else
            {
                displayCreatedAt = message.CreatedAt.ToLocalTime().ToString("d MMMM yyyy", new CultureInfo("en-US"));
            }

            @if (message.OtherParticipants != null && message.OtherParticipants.Count == 1 && userId.HasValue)
            {
                User user = message.OtherParticipants.First();
                <div class="message-container mb-1" data-chat-public-id="@message.Chat?.PublicId">
                    <a class="message-link" asp-controller="Chats" asp-action="Chat" asp-route-chatPublicId="@message.Chat?.PublicId">
                        <div class="d-flex justify-content-start align-items-start">
                            <div class="preview-user-avatar-container">
                                <img src="@user.AvatarUrl" alt="User avatar @user.Login"
                                     title="@user.Login"
                                     class="user-avatar preview-user-avatar" loading="lazy" />
                            </div>
                            <div class="d-flex flex-column w-100" style="min-width: 0;">
                                <div class="d-flex justify-content-between mb-1 gap-1">
                                    <div class="d-flex align-items-center">
                                        <span class="preview-user-login" title="@user.Name">
                                            @user.Login
                                        </span>
                                        @if (!message.IsRead && message.SenderId != userId)
                                        {
                                            <i class="fas fa-circle preview-new-message-icon" title="Unread"></i>
                                        }
                                    </div>
                                    <div class="preview-message-datetime"
                                         title="@message.CreatedAt.ToLocalTime().ToString("dd MMMM, yyyy 'at' HH:mm:ss", new CultureInfo("en-US"))">
                                        @displayCreatedAt
                                    </div>
                                </div>
                                <div class="preview-message-text @((!message.IsRead && message.SenderId != userId) ? "message-unread" : "message-read")" title="@message.Text">@message.Text</div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    }
    else
    {
        <div id="emptyChat" class="text-center fw-bold text-muted">No messages yet. Start a conversation to see your chats here.</div>
    }
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chatList.js"></script>