@using PCSetupHub.Data.Models.Users

@model User

@{
	ViewData["Title"] = $"{Model.Login}";
}

<section class="mb-4">
	<span class="user-login me-4 text-white">@Model.Login</span>
	<button class="user-action-btn me-2">Friend Status</button>
	<button class="user-action-btn">Message</button>
</section>
<section class="mb-4">
	@if (Model.Friends != null)
	{
		if (Model.Friends.Count == 1)
		{
			<a class="text-decoration-none me-5 py-1 pe-1 text-white">1<span class="ms-1 text-muted"> friend</span></a>
		}
		else
		{
			<a class="text-decoration-none me-5 py-1 pe-1 text-white">@Model.Friends.Count<span class="ms-1 text-muted"> friends</span></a>
		}
	}
	@if (Model.Followers != null)
	{
		if (Model.Followers.Count == 1)
		{
			<a class="text-decoration-none me-5 py-1 pe-1 text-white">1<span class="ms-1 text-muted"> follower</span></a>
		}
		else
		{
			<a class="text-decoration-none me-5 py-1 pe-1 text-white">@Model.Followers.Count<span class="ms-1 text-muted"> followers</span></a>
		}
	}
	@if (Model.Followings != null)
	{
		if (Model.Followings.Count == 1)
		{
			<a class="text-decoration-none me-5 py-1 pe-1 text-white">1<span class="ms-1 text-muted"> following</span></a>
		}
		else
		{
			<a class="text-decoration-none me-5 py-1 pe-1 text-white">@Model.Followings.Count<span class="ms-1 text-muted"> followings</span></a>
		}
	}
</section>
<section class="mb-2">
	<span class="d-block mb-1 user-name text-white">@Model.Name</span>
	<span class="user-description">@Model.Description</span>
</section>

<hr />

@if (Model.PcConfiguration != null)
{
	if (Model.PcConfiguration.Processor != null)
	{
		<span class="d-block">Processor</span>
		<section>
			<span>@Model.PcConfiguration.Processor.Name</span>
		</section>
	}
}